
html,body {
	background-color: #efeff4;
}

.title {
	margin: 20px 15px 10px;
	color: #6d6d72;
	font-size: 15px;
	padding-bottom: 51px;
}
.body{
	margin: 20px 15px 10px;
	color: #6d6d72;
	font-size: 15px;
	padding-bottom: 51px;
}
#waiting{
	width:20%;
	margin-left:40% ;
	margin-top:150px;
	display: none;
}
#pgbar{
	height:20px;
}
#footer{
	position: absolute;
	bottom: 120px;
	width: 100%;
}
/* #infos{
	margin-top:10vh;
	margin-left:10vw;
	position: absolute;
	z-index: 2;
	background: whitesmoke;
	border-radius: 10px;
	padding: 10px;
	display: none;
	width: 80vw;
	
} */
#infs{
	margin-left:5vw;
	width: 90vw;
	max-height: 90vh;
	overflow-y: scroll;
}